body {
    background-color: rgb(249, 222, 211);
    margin: 10px; 

}
header {
    text-align: center;
    background-color: rgb(137, 171, 180);
    padding: 1%;
    display: flex;/*permite alinear y distribuir el espacio entre los elementos */
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center;
}
footer{
   background-color:  rgb(137, 171, 180 );
   padding: 3%;
}
.logo {
    text-align: center;
}
.controls {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px; /* Agrega un margen interno a los controles */
    margin-top: 20px; /* Ajusta el margen superior*/
}
.search-box {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
input[type="text"] {
    padding: 1px;
    font-size: 16px;
}
button {
    background: none;
    border: none;
    cursor: pointer;

}
button img {
    width: 2em;
    height: 2em;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
label {
    display: block;
    margin-bottom: 8px;
}